{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],

  "rules": {
    // Not needed for learning purpose
    "no-alert": 0,
    "no-console": 0,
    // Temporarily disabled until splitting classes to the separate files
    "max-classes-per-file": 0
  }
}